/*home page background*/
#id_home {
    background-color: rgb(229,217,204);
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    background-size: cover;
}
/*home page logo position*/

#logo {
    /*width:150px;*/
    margin-top: 3vh;
    margin-bottom: 5vh;
    margin-left:auto;
    margin-right:auto;
    max-width: 200px;
    /*width:50%;*/
    display:block;
    /*background-color: blue;*/
}

.pot_size{
    width: auto;
    height:20vmin;
}

.pot_size img{
    width: auto;
    height:100%;
}

/*home page picture alignment*/
.home_pic_box {
    text-align: center;
}

.up_row{
    margin-bottom: 25px;
}

/*home page bottom text alignment*/
.home_text{
    text-align:center;
    font-size: 24pt;
    font-family:'Nanum Brush Script',cursive;
}
/*navigation arrow position*/
.arrow{
    float:right;
    margin-right: 2vw;
    animation: bounce 2s ease-in-out infinite;
}

/*background color for individual hotpot pages*/
.color{
    background-color: rgb(247,245,240);
}

/*get rid of the default padding*/
.delete_padding{
    padding-left:0px;
    padding-right: 0px;
}

/*set the background image for hotpot pages*/
.bj_real{
    background-image: url("../img/beijing_real.png");
    background-size: cover;
}

.jiu_real{
    background-image: url("../img/jiu_real.png");
    background-size: cover;
}

.chuan_real{
    background-image: url("../img/chuanchuan_real.png");
    background-size: cover;
}

.seafood_real{
    background-image: url("../img/seafood_real.png");
    background-size: cover;
}

.chaoshan_real{
    background-image: url("../img/chaoshan_real.png");
    background-size: cover;
}

.coconut_real{
    background-image: url("../img/coconut_real.png");
    background-size: cover;
}

/*set title for hotpot pages*/
/*position the title in the middle of the page*/
#beijing_title{
    margin-left:auto;
    margin-right:auto;
    display:block;
}

#jiu_title{
    margin-left:auto;
    margin-right:auto;
    display:block;
}

#chuan_title{
    margin-left:auto;
    margin-right:auto;
    display:block;
}

#seafood_title{
    margin-left:auto;
    margin-right:auto;
    display:block;
}

#chaoshan_title{
    margin-left:auto;
    margin-right:auto;
    display:block;
}

#coconut_title{
    margin-left:auto;
    margin-right:auto;
    display:block;
}
/*set background color for the information box*/
.text_box{
    background-color: rgba(179,16,19,0.78);
    position:relative;
}

/*set position for the information box*/
/*position the text information in the middle*/
.information{
    color:rgb(247,245,240);
    margin-left: auto;
    margin-right: auto;   
    width:90%;
    font-size:13pt;
    /*padding-top: 5%;*/
    position:absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
}

/*bold and enlarge some texts in the information box*/
strong{
    font-size:1.1em;
}
/*set the texts in the middle of the information box*/
p{
    margin:5px;
}

/*setup arrow button*/
/*downward arrow*/
.btn_down{
    background-image: url(../img/jiantou.png);
    background-repeat: no-repeat;
}

/*upward arrow*/
.btn_up{
    background-image: url(../img/jiantou.png);
    background-repeat: no-repeat;
    transform:rotate(180deg);
}

/*change the cursor to a pointer when hover over something clickable*/
.home_pic_box:hover{
    cursor:pointer;
}

/*hover effect over the picture of the hand-drawing hotpot*/
/*the wanted effect is when hover, show the name of the hotpot*/
/*code refer to the website below*/
/*https://speckyboy.com/custom-hover-click-effects-css-javascript/*/
/*set the transition and style for the text*/
.home_pic_box h2{
    color:#ffffff;
    text-align:center;
    font-family:'Bebas Neue', cursive;
    padding:10px;
    /*transform:translateY(-100px);*/
    opacity:0;
    transition:all 0.2s ease-in-out;
    margin-bottom: 0;
}

/*make the transition of enlarging the image smoother */
.home_pic_box img{
    transition: all 0.2s linear;
}
/*create a overlay mask above the hotpot images, for further use of hover */
.home_pic_box .mask{
    width:80%;
    position:absolute;
    overflow:hidden;
    top:30%;
    left:10%;
    /*mask is transparent when the there is no hovering*/
    opacity:0;
    /*background-color: rgba(58,1,132,0.44);*/
    background-image: url("../img/Mask_background.png");
    background-size: cover;
    transition: all 0.4s ease-in-out;
}

/*the hover effect: when hover, the image would be enlarged by the scale of 1.1*/
.home_pic_box:hover img{
    transform:scale(1.1);
}
/*when hover, the overlay mask would only have the opacity of 0.8*/
.home_pic_box:hover .mask{
    opacity:0.8;
}
/*when hover, the text on the mask would be a solid color*/
.home_pic_box:hover h2{
    opacity:1;
    transform:translateY(0px);
}

/*to make the website adapt the phone size better, I coded some typical screen sizes separately*/
/*when the screen is vertial*/
@media (max-aspect-ratio: 1/1) {
    /*#logo{
        background-color: pink;
    }*/
    .information p{
        font-size: 0.8em;
        /*background-color: pink;*/
    }
    .information strong{
        font-size: 1em;
        /*background-color: pink;*/
    }
    .first_row{
        display:none;
    }
    /*use the image on the left of the screen as the background for the texts on the right*/
    #bj_background{
        background-image: url("../img/beijing_real.png");
        background-size:cover;
    }
    #jg_background{
        background-image: url("../img/jiu_real.png");
        background-size:cover;
    }
    #chuan_background{
        background-image: url("../img/chuanchuan_real.png");
        background-size:cover;
    }
    #seafood_background{
        background-image: url("../img/seafood_real.png");
        background-size:cover;
    }
    #chao_background{
        background-image: url("../img/chaoshan_real.png");
        background-size:cover;
    }
    #coconut_background{
        background-image: url("../img/coconut_real.png");
        background-size:cover;  
    }
    /*change the color of the arrow to adapt the new background color*/
    .btn_down{
        background-image: url(../img/jiantou_color.png);
        background-repeat: no-repeat;
    }

    .btn_up{
        background-image: url(../img/jiantou_color.png);
        background-repeat: no-repeat;
        transform:rotate(180deg);
    }

    .info{
        background-color:rgba(255,255,255,0.8);
    }

}
/*horizontal screen but no smaller than 576px*/
@media (min-aspect-ratio: 1/1) and (min-width: 576px) {
    /*#logo {
        background-color: red;
    }*/
}

/*horizontal screen but no smaller than 768px*/
@media (min-aspect-ratio: 1/1) and (min-width: 768px) {
    /*#logo{
        background-color: blue;
    }*/
    .information p{
        font-size: 0.7em;
       /* background-color: blue;*/
    }
    .information strong{
        font-size: 0.9em;
        /*background-color: blue;*/
    }
}

/*horizontal screen but no smaller than 992px*/
@media (min-aspect-ratio: 1/1) and (min-width: 992px) {
   /* #logo{
        background-color: green;
    }*/
    .information p{
        font-size: 1em;
        /*background-color: green;*/
    }
    .information strong{
        font-size: 1.1em;
        /*background-color: green;*/
    }
}
/*horizontal screen but no smaller than 1200px*/
@media (min-aspect-ratio: 1/1) and (min-width: 1200px) {
/*    #logo{
        background-color: black;
    }*/
    .information p{
        font-size: 1em;
       /* background-color: black;*/
    }
    .information strong{
        font-size: 1.1em;
       /* background-color: black;*/
    }
}

/*animation for the arrow bouncing up and down*/
@keyframes bounce {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 10px);
  }
}


